@import "../../shared.css";

.card-container {
  width: 20rem;
  box-sizing: border-box;
}

.card__actions {
  width: 88%;
}
.card__actions a {
  width: 100%;
  text-align: center;
}
.card__content {
  display: flex;
  flex-direction: column;
  width: 100%;
  align-items: center;
  justify-content: center;
}

.card__info {
  text-align: center;
  width: 88%;
}
/* WishList */
.wish-list-position {
  position: relative;
}
.wish-icon {
  position: absolute;
  top: 0;
  cursor: pointer;
  right: 0;
  background-color: var(--txt-color);
  color: var(--primary-color);
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.2s;
}
.wish-icon:hover {
  background-color: var(--danger-color);
  color: var(--txt-color);
}
.card__author {
  display: flex;

  justify-content: center;
}

.rating {
  font-style: italic;
}
.card__heading {
  cursor: pointer;
}

.wishlist-btns {
  display: flex;
  flex-direction: column;
}
.wishlist-btns > .secondary-btn,
.wishlist-btns > .primary-btn {
  width: 90%;
}
